<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="text_h center header cd-headline letters type">
            <span>Crafting</span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">elegant</b>
                <b>reliable</b>
                <b>testable</b>
                <b>software</b>
            </span>
        </h1>
  </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center header text_h2">
          Helping you and your <span class="span_h2">business</span> understand and utilise <span class="span_h2">technology</span> to your <span class="span_h2">advantage</span>.
        </h2>
        <h2 class="center header text_h2">
          We do this by being <span class="span_h2">involved</span> in the needs of your business and using this process to craft <span class="span_h2">better solutions</span> for you.
        </h2>
        <h2 class="center header text_h2">
          Your <span class="span_h2">concerns</span> are our <span class="span_h2">concerns</span>, and your <span class="span_h2">satisfaction</span> is our <span class="span_h2">priority</span>.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">flash_on</i></h2>
          <h5 class="center">Faster Feedback</h5>
          <p class="light">
            Solutions that suit your end users aren’t obvious and no one can test it better than real users, this is why we <span class='span_signal'>prototype rapidly</span>.
            This allows us to get feedback from <span class='span_signal'>your users</span> quickly and this translates into a <span class='span_signal'>better product</span> for you and your users.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">repeat</i></h2>
          <h5 class="center">Regular Value</h5>
          <p class="light">
            We release as often and as quickly as possible by utilising <span class='span_signal'>agile principles</span> and releasing tested functionality as soon as it’s ready.
            Your ideas will reach your users often keeping them <span class='span_signal'>engaged</span> in your service.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">code</i></h2>
          <h5 class="center">Reliable Product</h5>
          <p class="light">
            Quality is important and delivering a product for you which is <span class='span_signal'>reliable and maintainable</span> are at the forefront of our concerns.
            We manage this by writing <span class='span_signal'>highly testable code</span> giving you the confidence that your product is always working as expected.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">grade</i></h2>
          <h5 class="center">Industry Standards</h5>
          <p class="light">
            Where possible we avoid niche technologies with no or little support.
            We use <span class='span_signal'>widely supported</span> technologies to craft you an <span class='span_signal'>innovative, stable and secure product</span>.
            This means better long term support for you and your users.
          </p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">person_pin</i></h2>
          <h5 class="center">Team Building and Coaching</h5>
          <p class="light">
            Building an effective team is hard especially if you lack a background in <span class='span_signal'>technology</span>.
            If you need help building an <span class='span_signal'>effective team</span> or <span class='span_signal'>optimsing</span> your workflow then we can <span class='span_signal'>help</span> you achieve this.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Parallax-->
<div class="parallax-container">
  <div class="parallax"><img src="images/parallax1.jpg"></div>
</div>

<div id="contact" class="default_color scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center header white-text">Contact us</h2>
        <div class="col s12">
          <h5 class="white-text mdi-communication-email comm-text">
            <span class="contact-detail">hi@bluemagesoftware.com</span>
          </h5>
        </div>
        <div class="col s12">
          <h5 class="white-text mdi-communication-phone comm-text">
            <span class="contact-detail">+447786227011</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="row no-margin-bottom no-padding-bottom">
      <div class="col s12">
        <p class="white-text">
          We are always keen to work and connect with new clients. If you would like our services or simply want to find out more then please get in touch.
        </p>
      </div>
    </div>
  </div>
</div>
