<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="text_h center header cd-headline letters type">
            <span>Crafting</span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">elegant</b>
                <b>reliable</b>
                <b>testable</b>
                <b>software</b>
            </span>
        </h1>
  </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center header text_h2">
          Helping <span class="span_h2">business owners</span> understand and utilise <span class="span_h2">technology</span>.
        </h2>
        <h2 class="center header text_h2">
          Being <span class="span_h2">involved</span> in the needs of the business we help craft <span class="span_h2">better solutions</span>.
        </h2>
        <h2 class="center header text_h2">
          Your <span class="span_h2">concerns</span> are our <span class="span_h2">concerns</span>. Your <span class="span_h2">satisfaction</span> is our <span class="span_h2">priority</span>.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">flash_on</i></h2>
          <h5 class="center">Rapid Prototyping</h5>
          <p class="light">Solutions that suit end users aren’t obvious and no one can test it better than real users. We care a great deal about delivering the right product so we prototype and validate often before committing to a solution.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">repeat</i></h2>
          <h5 class="center">Releasing Often</h5>
          <p class="light">We care a great deal about delivering value as often and as quickly as possible. We do this by utilising agile principles and releasing functionality as soon as it’s ready.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">code</i></h2>
          <h5 class="center">High Quality Testable Code</h5>
          <p class="light">Quality is important and delivering code which is both reliable and maintainable are at the forefront of our concerns. We write testable code and ensure we can be replaced (though we would prefer not to be replaced)</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">grade</i></h2>
          <h5 class="center">Industry Standards</h5>
          <p class="light">Where possible, we try to avoid niche technologies with no or little support. We try our hardest to use widely supported technologies to craft an innovative, stable and secure product.</p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">person_pin</i></h2>
          <h5 class="center">Team Building and Coaching</h5>
          <p class="light">Getting the right people involved is hard especially if you lack a technology focused team. If you need help with organisation problems we can assist you in finding a solution.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Parallax-->
<div class="parallax-container">
  <div class="parallax"><img src="images/parallax1.jpg"></div>
</div>

<div id="contact" class="default_color scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center header white-text">Contact us</h2>
        <div class="col s12">
          <h5 class="white-text mdi-communication-email comm-text">
            <span class="contact-detail">hi@bluemagesoftware.com</span>
          </h5>
        </div>
        <div class="col s12">
          <h5 class="white-text mdi-communication-phone comm-text">
            <span class="contact-detail">+447786227011</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="row no-margin-bottom no-padding-bottom">
      <div class="col s12">
        <p class="white-text">
          We are always keen to work and connect with new clients. If you would like our services or simply want to find out more then please get in touch.
        </p>
      </div>
    </div>
  </div>
</div>
